/* Base Template styles */
.footer-content {
    text-align: center;
    font-size: 16px;
    line-height: 4rem;
}

.auth-btn {
    display: inline-grid;
    margin-top: 5%;
}

/* Login Page styles */
#sign-box {
    width: 500px;
    background-color: rgb(241, 241, 241);;
    height: 400px;
    border-radius: 10px;
    margin-top: 50px;
    display: block;
    text-align: center;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

.align-left .dropdown-menu {
    left: auto;
    right: 0;
    text-decoration: none;
  }

a {
    text-decoration: none;
    color: black;
}

#quote {
    margin-left: auto;
    margin-right: auto;
}

.bio p {
    text-align: center !important;
}