/* Base Template styles */
.footer-content {
    text-align: center;
    font-size: 16px;
    line-height: 4rem;
}

.auth-btn {
    display: inline-grid;
    margin-top: 5%;
}

/* Login Page styles */
#sign-box {
    width: 100%;
    /* background-color: rgb(241, 241, 241);; */
    /* height: 100%; */
    border-radius: 10px;
    margin-top: 50px;
    display: block;
    text-align: center;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

.align-left .dropdown-menu {
    left: auto;
    right: 0;
    text-decoration: none;
  }

a {
    text-decoration: none;
    color: black;
}

#quote {
    margin-left: auto;
    margin-right: auto;
}

.bio p {
    text-align: center !important;
}

@media screen and (max-width: 600px) {
    .res {
        margin-left: 2.5rem;
    }
}
@media screen and (min-width: 601px) {
    .ml {
        margin-left: 1rem;
    }
}
