{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block style_sheet_and_js %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<script src="{% static 'scripts/script.js' %}"></script>
{% endblock %}
{% block content %}


<div class="container-fluid mt-4">
    <div class="row g-3">
        <div class="col-md-auto ms-4">
            <div class="card" style="width: 15rem; height: 400px; max-width: 100%;">
                <img src="{{ user.profile.profile_pic.url }}" width="60" height="60"
                    class="rounded-circle ms-auto me-auto mt-4" alt="...">
                <div class="ms-auto me-auto bio">
                    <p style="text-align: center;" class="ms-auto me-auto">
                        {% if user.profile.first_name and user.profile.last_name %}
                        {{ user.profile.first_name }} {{ user.profile.last_name }}
                        {% else %}
                        {{ user.username }}
                        {% endif %}
                    </p>
                    <p style="text-align: center;" class="p-3">{{ user.profile.bio }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-auto">
            {% for post in posts %}
            <div class="card" style="max-width: 100%; width: 40rem;">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <img src="{{ post.author.profile.profile_pic.url }}" width="50" height="50"
                                    class="rounded-circle mt-1" alt="...">
                            </div>
                            <div class="col-6">
                                <div>
                                    <small>{{ post.author.profile.first_name }}
                                        {{ post.author.profile.last_name }}</small>
                                </div>
                                <p class="mt-0"><small>{{ post.created_at|timesince }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><a style="color: black;" href="{% url 'post_detail' post.pk %}">
                            {{ post.title }}</a></h5>
                    <p class="card-text">{{ post.content|safe }}</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <div id="like">
                        <small id="like_count"></small><button data-href="{% url 'like' post.pk %}" id="like-button"
                            class="btn btn-light" data-pk="{{ post.pk }}"><i class="bi bi-suit-heart"></i></button>
                        <span id="like-count">{{ post.total_likes }}
                        </span> Like{{ post.total_likes|pluralize }}
                    </div>
                    <a href="{% url 'post_update' post.pk %}" class="card-link">Edit</a>
                    <a href="{% url 'post_delete' post.pk %}" class="card-link">Delete</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
        <div id="feat-session" class="col-md-auto">

        </div>
    </div>
</div>

{% endblock %}